PORT=5000
# Local MongoDB connection:
MONGODB_URI=mongodb://127.0.0.1:27017/cleanz24

# For MongoDB Atlas (Cloud), uncomment and paste your Atlas connection string:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/cleanz24?retryWrites=true&w=majority